---
import { Image } from "astro:assets";
import star from "../../assets/star.svg";
---

<div class= "flex w-full bg-fuchsia-500 items-center p-3 text-neutral-50 text-2xl">
    <span class="mr-10 mt-1">PSICOLOGA</span> <Image src={star} alt="star"/> 
</div>