---
import { Picture, Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import PcHeaderImage from "../../assets/headerPc.jpg";
import TabletHeaderImage from "../../assets/headerTablet.jpg";
import PhoneHeaderImage from "../../assets/headerPhoneRiad.jpg";
import HeaderPicture from "../headerPicture/headerPicture.astro";



---
<header class="h-full relative">
    <div class=" h-full p-0 m-0 relative flex ">
        <HeaderPicture  mobileImgUrl={PhoneHeaderImage} desktopImgUrl={PcHeaderImage} tabletImgUrl={TabletHeaderImage} alt="psicosmith" />

    

        <a href="http://localhost" target="_blank" rel="noopener noreferrer" class="absolute"> Citas </a>
    </div>

</header>


