---
import PcHeaderImage from "../../assets/headerPc.jpg";
import TabletHeaderImage from "../../assets/headerTablet.jpg";
import PhoneHeaderImage from "../../assets/headerPhone.png";
import HeaderPicture from "../headerPicture/headerPicture.astro";
import Whatsapp from "../buttons/whatsapp.astro";
import PurpleLine from "../line/purpleLine.astro";

---
<header class="h-full relative">
    <div class=" h-full p-0 m-0 relative flex flex-col">
        <HeaderPicture  mobileImgUrl={PhoneHeaderImage} desktopImgUrl={PcHeaderImage} tabletImgUrl={TabletHeaderImage} alt="psicosmith" />

        <Whatsapp />
        
        <PurpleLine />

       
    </div>

</header>



