---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="w-full h-full">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content=" Bienvenido/a a la plataforma de terapia online de Smith Quintero. Encuentra apoyo profesional y compasivo para tus necesidades de salud mental. Nuestra psicóloga licenciada ofrece sesiones de terapia personalizadas para ayudarte a enfrentar los desafíos de la vida. Da el primer paso hacia la sanación y reserva tu sesión hoy mismo."/>
		<meta name="viewport" content="width=device-width" initial-scale="1"/>
		<meta name="robots" content="index, follow">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta itemprop="specialty" content="Psicólogos en línea, Psicólogo online, psicólogos por chat.">

		<meta name="keywords" content="psicosmith, psicologa, terapia, salud mental, psicologa Smith Quintero, psicologos en linea, psicologos online, terapia online, depresion, ansiedad.">

		<title>{title}</title>
	</head>
	<body class="box-border m-0 p-0 w-full h-full">
		<slot />
	</body>
</html>
